@model ZonaFl.Models.RegisterBindingModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutFreelanceLog.cshtml";
}

<script src="~/Static/js/jquery.js"></script>
<script src="~/Static/js/bootstrap.min.js"></script>
<script src="~/Static/js/jquery.prettyPhoto.js"></script>
<script src="~/Static/js/jquery.isotope.min.js"></script>
<script src="~/Static/js/main.js"></script>
<script src="~/Static/js/wow.min.js"></script>
<script src="~/Static/js/jquery-1.10.2.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="~/Static/js/jquery-ui.min.js"></script>
<script src="/Scripts/knockout-3.4.0.js"></script>
<script src="/Scripts/DropdownController2.js"></script>

  <!--/pop up foto perfil-->

<div id="foto_profile" class="ontop">
    <div class="emer-foto">
        <a href="#" onClick="hide('foto_profile')">x</a>
        <hr>
        <h2 class="title_pop">Cambia tu foto de perfil</h2>

        <div id="content_chf">
            <form id="cambiodefoto_profiles" name="cambiodefoto_profiles">
                <input type="file" name="fileselect" id="fileselect" class="inputfile" data-multiple-caption="{count} files selected" multiple />

                <label for="fileselect"><i class="fa fa-upload"></i> Buscar imagen</label>
                <br />
                <br />
                <output id="list"><div class="thumb pre_foto"></div></output>
                <hr>
                <a href="#" onClick="hide('foto_profile')"><h2 class="btn-cancel_cambio-foto">Cancelar</h2></a>
                <input type="button" value="Establecer imagen" class="btn-cambio-foto" id="uploadbutton">


            </form>

        </div>

    </div>

</div>
<!--/ fin pop up foto perfil-->

<div id="wrap_perfiles">
    <section id="about-us">
        <div>
            <div class="container">



                <!-- our-team -->
                <div class="team">
                    <div class="center wow fadeInDown">
                        <h2>Registro Freelance</h2>
                        <p class="lead">Cuéntanos un poco más sobre ti:</p>
                    </div>
                    <form id="datos-freelance" class="contact-form" name="contact-form" method="post" action="@Url.Action("Edit", "Freelance")">
                        <div class="col-lg-12 sobremi">

                @Html.HiddenFor(e => e.Id)
                            <div id="wrap_fotoperfil" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="foto_e_username">
                                    <a href="#" onClick="pop('foto_profile')">
                                        <div id="foto_freelance" class="fotodeperfil recent-work-wrap">

                                            @if (!String.IsNullOrEmpty(ViewBag.ImageUser))
                                            {
                                                <img src='~/UploadedFiles/@ViewBag.ImageUser' alt="" id="preview_img_prof" />

                                            }
                                            else
                                            {
                                                <img src="~/Static/images/user_default.png" alt="" id="preview_img_prof" />

                                            }
                                            <input type="hidden" name="imagename" value="" id="imagename">
                                            <div class="overlay_f">
                                                <i class="fa fa-camera"></i>
                                                <p>Cambiar imagen</p>
                                                <div class="recent-work-inner">

                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                    <div id="username_freel" class="saludops col-xs-12">
                                        @*<input id="username_prof" type="text" name="username_prof" class="form-control" placeholder="Usuario tal">*@
                                        @Html.TextBoxFor(e => e.UserName, new { @id = "username_prof", @class = "form-control", @placeholder = "Usuario tal" })
                                        @Html.HiddenFor(e => e.Email, new { @id = "emailuser" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5">

                                <label>Descripción (sobre mí)</label>
                                @*<textarea name="message" id="descuser" required="required" class="form-control" rows="7" placeholder="Háblanos un poco de tu experiencia profesional y tus logros en el campo creativo..."></textarea>*@
                                @Html.TextAreaFor(e => e.DescUser, new { @id = "descuser", @class = "form-control", @placeholder = "Háblanos un poco de tu experiencia profesional y tus logros en el campo creativo...", @rows = 7 })
                            </div>






                        <div class="col-lg-4 col-md-4 infouser" ng-app="ZonaFl" id="countrycities">

                            @*<input type="number" class="form-control" required="required" placeholder="Teléfono" id="PhoneNumber" minlength="5" data-msg-minlength="Ingrese mínimo 5 caracteres" value="@Model.PhoneNumber">*@
                            @Html.TextBoxFor(e => e.PhoneNumber, new { type = "number", @class = "form-control", @placeholder = "Teléfono", @minlength = "5" })

                            <div>

                                <p data-bind="visible: countrieses().length > 0">
                                    @*<b>Pais :</b> @Html.DropDownList("Country", ViewBag.Country as SelectList,  new { @class="btn btn-primary dropdown-toggle form-control", @data_bind = "event: { change: $parent.fetchStates }" })*@
                                    <b>Pais :</b> <select id="Country" name="Country" data-bind="options: countrieses, optionsText: 'CountryName', optionsValue: 'CountryID', optionsCaption: 'Escoja el pais..',event:{change: fetchStates}" class="btn btn-primary dropdown-toggle form-control" ></select>
                                </p>


                                <p data-bind="visible: states().length > 0">

                                    <b>Ciudad :</b> <select id="cities" name="cities" data-bind="options: states, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Escoja la ciudad..',value: Id" class="btn btn-primary dropdown-toggle form-control " ></select>
                                </p>

                                                             

                            </div>
                        </div>


                        </div>


                    <div class="row clearfix">


                    <div class="col-md-8">

                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">

                    <div class="media-body" id="selhabilidades">
                    <h4>Selector de habilidades</h4>
                    <h5>Selecciona habilidades de cada categoría según tu experiencia y adicionalas a tu perfil:</h5>
                    <hr>
                    <center><h4>Categoría:</h4></center>

                    <div id="eightcat">

                        <div id="8_categorias">

                            <a href="#8_categorias">
                                <div id="i-websoft" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/PG_S.png" alt="">
                                        <div class="overlay categoria" id="categoria17">
                                            <p>Páginas Web y Software</p>
                                            <div class="recent-work-inner">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-appmov" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/APPS.png" alt="">
                                        <div class="overlay categoria" id="categoria21">
                                            <p>Aplicaciones para móviles</p>
                                            <div class="recent-work-inner">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-diseno" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/DG.png" alt="">
                                        <div class="overlay categoria" id="categoria20">
                                            <p>Diseño Gráfico</p>
                                            <div class="recent-work-inner">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-pmulti" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/produc.png" alt="">
                                        <div class="overlay categoria" id="categoria23">
                                            <p>Producción Multimedia</p>
                                            <div class="recent-work-inner">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-ani3d" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/3D.png" alt="">
                                        <div class="overlay categoria" id="categoria18">
                                            <p>Animación 3D</p>
                                            <div class="recent-work-inner">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-office" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/officce.png" alt="">
                                        <div class="overlay categoria" id="categoria24">
                                            <p>Office</p>
                                            <div class="recent-work-inner">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-tradu" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/traductor.png" alt="">
                                        <div class="overlay categoria" id="categoria16">
                                            <p>Traducción y redacción</p>
                                            <div class="recent-work-inner">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->

                            <a href="#8_categorias">
                                <div id="i-inge" class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 change">
                                    <div class="recent-work-wrap">
                                        <img class="img-responsive" src="/Static/images/categorias/ING.png" alt="">
                                        <div class="overlay categoria" id="categoria25">
                                            <p>Ingeniería y Arquitectura</p>
                                            <div class="recent-work-inner">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><!--/.portfolio-item-->



                        </div><!--/div 8-categorias-->
                    </div><!--/div eightcat-->

                    <div class="reverse">
                        <div id="websoft">

                            <center><h4>Páginas Web y Software</h4></center>
                            <center><a id="r-websoft" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                            <br>
                            <div class="col-xs-12 col-sm-4 col-md-4">

                                <img id="chao" class="img-responsive" src="/Static/images/categorias/PG_S.png" alt="">

                            </div>

                            <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                                <ul class="tag skills" data-bind="foreach: skillsList17">
                                                           
                                    <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>

                                    <!--<li class="padre"><input type="checkbox" id="h-pw1" value="php" /><label>PHP</label></li>
                                    <li class="padre"><input type="checkbox" id="h-pw2" value="html" /><label>HTML</label></li>
                                    <li class="padre"><input type="checkbox" id="h-pw3" value="Arquitectura de Software" /><label>Arquitectura de Software</label></li>
                                    <li class="padre"><input type="checkbox" id="h-pw4" value="Wordpress" /><label>Wordpress</label></li>-->


                                </ul>
                            </div>
                        </div><!--/div habilidades -->
                    </div>

                    <div id="appmov">

                        <center><h4>Aplicaciones para móviles</h4></center>
                        <center><a id="r-appmov" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/APPS.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList21">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-apm1" value="Android" /><label>Android</label></li>
                                <li class="padre"><input type="checkbox" id="h-apm2" value="iPhone" /><label>iPhone</label></li>
                                <li class="padre"><input type="checkbox" id="h-apm3" value="Windows Phone" /><label>Windows Phone</label></li>
                                <li class="padre"><input type="checkbox" id="h-apm4" value="BlackBerry" /><label>BlackBerry</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->


                    <div id="diseno">

                        <center><h4>Diseño gráfico</h4></center>
                        <center><a id="r-diseno" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/DG.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList20">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-dig1" value="Ilustración" /><label>Ilustración</label></li>
                                <li class="padre"><input type="checkbox" id="h-dig2" value="Concepto" /><label>Concepto</label></li>
                                <li class="padre"><input type="checkbox" id="h-dig3" value="Vectorización" /><label>Vectorización</label></li>
                                <li class="padre"><input type="checkbox" id="h-dig4" value="Dibujo" /><label>Dibujo</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->

                    <div id="pmulti">

                        <center><h4>Producción multimedia</h4></center>
                        <center><a id="r-pmulti" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/produc.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList23">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-pmu1" value="Fotografía" /><label>Fotografía</label></li>
                                <li class="padre"><input type="checkbox" id="h-pmu2" value="Producción de video" /><label>Producción de video</label></li>
                                <li class="padre"><input type="checkbox" id="h-pmu3" value="Videojuegos" /><label>Videojuegos</label></li>
                                <li class="padre"><input type="checkbox" id="h-pmu4" value="Producción de audio" /><label>Producción de audio</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->



                    <div id="ani3d">

                        <center><h4>Animación 3D</h4></center>
                        <center><a id="r-ani3d" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/3D.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList18">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-atd1" value="Modelado" /><label>Modelado</label></li>
                                <li class="padre"><input type="checkbox" id="h-atd2" value="Modelado orgánico" /><label>Modelado orgánico</label></li>
                                <li class="padre"><input type="checkbox" id="h-atd3" value="Preproducción 3D" /><label>Preproducción 3D</label></li>
                                <li class="padre"><input type="checkbox" id="h-atd4" value="Postproducción 3D" /><label>Postproducción 3D</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->

                    <div id="office">

                        <center><h4>Office</h4></center>
                        <center><a id="r-office" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/officce.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList24">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-off1" value="Word" /><label>Word</label></li>
                                <li class="padre"><input type="checkbox" id="h-off2" value="PowerPoint" /><label>PowerPoint</label></li>
                                <li class="padre"><input type="checkbox" id="h-off3" value="Access" /><label>Access</label></li>
                                <li class="padre"><input type="checkbox" id="h-off4" value="Publisher" /><label>Publisher</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->


                    <div id="tradu">

                        <center><h4>Traducción y redacción</h4></center>
                        <center><a id="r-tradu" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/traductor.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList16">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-tra1" value="Redacción Blogs" /><label>Redacción Blogs</label></li>
                                <li class="padre"><input type="checkbox" id="h-tra2" value="Redacción técnica" /><label>Redacción técnica</label></li>
                                <li class="padre"><input type="checkbox" id="h-tra3" value="Traducción Inglés" /><label>Traducción Inglés</label></li>
                                <li class="padre"><input type="checkbox" id="h-tra4" value="Traducción Francés" /><label>Traducción Francés</label></li>-->

                            </ul>
                        </div>
                    </div><!--/div habilidades -->

                    <div id="inge">

                        <center><h4>Ingeniería y Arquitectura</h4></center>
                        <center><a id="r-inge" href="#8-eightcat" class="back-cat return">Volver a categorias <i class="fa fa-angle-double-left"></i></a></center>
                        <br>
                        <div class="col-xs-12 col-sm-4 col-md-4">

                            <img class="img-responsive" src="/Static/images/categorias/ING.png" alt="">

                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8" style="height:300px; overflow-y:scroll;">
                            <ul class="tag skills" data-bind="foreach: skillsList25">
                                <li class="padre"><input type="checkbox" data-bind="value: Name,attr: { 'id': 'h-'+ $.trim(IdHtml)}" onchange="toggleCheckbox(this)" /><label data-bind="text: Name"></label></li>
                                <!--<li class="padre"><input type="checkbox" id="h-ina1" value="Autocad" /><label>Autocad</label></li>
                                <li class="padre"><input type="checkbox" id="h-ina2" value="Diseño de interiores" /><label>Diseño de interiores</label></li>
                                <li class="padre"><input type="checkbox" id="h-ina3" value="Corrección de planos" /><label>Corrección de planos</label></li>
                                <li class="padre"><input type="checkbox" id="h-ina4" value="Presupuesto" /><label>Presupuesto</label></li>-->
                            </ul>
                        </div>
                    </div><!--/div habilidades -->



                    </div>

                    </div><!--/.media -->




                    </div>
                    </div><!--/.col-lg-4 -->


                    <div class="col-md-4">
                    <div class="media">
                    <div class="pull-left">

                    </div>
                    <div class="media-body">

                    <form id="Habilidades">
                    <center><h4>Habilidades seleccionadas: <span id="allcatcount">(@ViewBag.CountAllCategories)</span></h4></center>
                    <hr>

                    <div id="pw" class="cat_selec">
                        <h5>Páginas Web y Software <span id="pwcount">(@Model.Count17)</span></h5>

                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 17)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        { 

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }



                                    }
                                }
                            }
                                               
                        </ul>
                                                   
                    </div>

                    <div id="disgraf" class="cat_selec">
                        <h5>Aplicaciones para móviles: <span id="disgrafcount">(@Model.Count21)</span></h5>

                                               
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 21)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                       
                        </ul>
                    </div>

                    <div id="web" class="cat_selec">
                        <h5>Diseño gráfico: <span id="webcount">(@Model.Count20)</span></h5>

                                              
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 20)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                   
                        </ul>
                    </div>

                    <div id="promul" class="cat_selec">
                        <h5>Producción multimedia: <span id="promulcount">(@Model.Count23)</span></h5>

                                               
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 23)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                  
                        </ul>
                    </div>

                    <div id="anima" class="cat_selec">
                        <h5>Animación 3D: <span id="animacount">(@Model.Count18)</span></h5>

                                               
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 18)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                       
                        </ul>
                    </div>


                    <div id="moffice" class="cat_selec">
                        <h5>Office: <span id="mofficecount">(@Model.Count24)</span></h5>

                                              
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 24)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                      
                        </ul>
                    </div>

                    <div id="trad" class="cat_selec">
                        <h5>Traducción y Redacción: <span id="tradcount">(@Model.Count16)</span></h5>

                                               
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 16)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                      
                        </ul>
                    </div>

                    <div id="ingen" class="cat_selec">
                       
                            <h5>Ingeniería y Arquitectura: <span id="ingencount">(@Model.Count19)</span></h5>
                       
                                             
                        <ul class="tag skillspre">
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.Id == 19)
                                {
                                    foreach (var skill in cate.Skills)
                                    {
                                        if (skill.Visible == true)
                                        {
                                            <li id='@skill.IdHtml' style="display:block">@skill.Name</li>
                                        }
                                        else
                                        {

                                            <li id='@skill.IdHtml' style="display:none">@skill.Name</li>
                                        }


                                    }
                                }
                            }
                                                     
                        </ul>
                    </div>


                    <input type="submit"  value="Guardar cambios" class="btn-cambios-fl">

                    </form>




                    </div>
                    </div><!--/.media -->
                    </div>


                    </div>
                    </form>
                </div>	<!--/.row-->
            </div><!--section-->
        </div><!--/.container-->
    </section><!--/about-us-->
</div>
<script src="~/Static/js/jquery.js"></script>
<script src="~/Static/js/bootstrap.min.js"></script>
<script src="~/Static/js/jquery.prettyPhoto.js"></script>
<script src="~/Static/js/jquery.isotope.min.js"></script>
<script src="~/Static/js/main.js"></script>
<script src="~/Static/js/wow.min.js"></script>
<script src="~/Static/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/ModelsKo/ViewModel.js"></script>
<script>
        var useremail;
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(document).ready(function () {
            $("#datos-freelance").validate({
                rules: {
                    Country: "required",
                    cities: "required"
                },
                messages: {
                    Country: "Por favor escoja el País",
                    cities: "Por favor escoja la ciudad"

                }
            })

            var dropdowncountry = new CascadingDDLViewModel('@ViewBag.Countrysel', '@ViewBag.Ciudadsel');
            ko.applyBindings(dropdowncountry, document.getElementById("countrycities"));


            vm = new ViewModelEdit();
            ko.applyBindings(vm, document.getElementById("selhabilidades"));
            $(function () {

                $('.categoria').click(function () {

                    var idoffer = this.id.replace("categoria", "");
                    vm.getSkillsFromServer(idoffer, '@ViewBag.IdUser');

                });

            });

            //useremail = getParameterByName('UserEmail'); //
            //GetUserName(useremail);


            setupUploadfile();
            $("#preview_img_prof").clone().prependTo(".pre_foto");
            //alert(userid);
        });
        

        function setupUploadfile() {

            $('#uploadbutton').on('click', function () {

                var data = new FormData();

                var files = $("#fileselect").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }


                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/api/Account/UploadImageUser",
                    contentType: false,
                    processData: false,
                    data: data
                });

                ajaxRequest.done(function (responseData, textStatus) {
                    if (textStatus == 'success') {
                        if (responseData != null) {
                            if (responseData.Key) {
                                //alert(responseData.Value);
                                var fileuser = $("#fileselect").val();
                                UpdateImageUser(fileuser);

                                $("#fileselect").val('');
                            } else {
                                alert(responseData.Value);
                            }
                        }
                    } else {
                        alert(responseData.Value);
                    }
                });
            });

        }

        function UpdateImageUser(fileuser) {
            var newUser = [{
                Email: $('#emailuser').val(),
                UserName: '',
                Password: '',
                ConfirmPassword: '',
                Freelance: '',
                Empresa: '',
                City: $('#ciudaduser').val(),
                Country: $('#countryuser').val(),
                DescUser: $('#descuser').val(),
                PhoneNumber: $('#numbertelreg').val(),
                FirstMiddleName: $('#username_prof').val(),
                Image: fileuser


            }];
            $.ajax({
                url: "/api/Account/UpdateImageUser",
                data: JSON.stringify(newUser),
                type: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (response) {
                    if (response.success) {
                        // do something clever
                       // $("#datos-freelance")[0].reset();

                        alert("Se ha guardado correctamente la imagen del usuario");
                        $("#miniaturaima").attr("src", $("#preview_img_prof").attr("src"));
                        hide('foto_profile');


                    } else {

                        alert('Ha ocurrido un error: ' + response.errors);
                        $('#preview_img_prof').attr("src", 'images/user_default.png');

                        hide('foto_profile');



                    }
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });


        }
        function RegisterHabilidades(newUser) {
            if ($("#datos-freelance").valid());
           
            {
                $.ajax({
                    url: "/api/Account/InsertSkills",
                    data: JSON.stringify(newUser),
                    type: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    success: function (response) {
                        if (response.success) {
                            // do something clever
                            $("#datos-freelance")[0].reset();
                            alert("Se ha guardado correctamente la información, se ha enviado un correo de confirmación de usuario a su cuenta de correo, favor verificar!!!");
                            getDetailsFreelance(response.tipo.Id);

                        } else {
                            alert('Ha ocurrido un error: ' + response.errors)

                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert(xhr.status);
                        //alert(thrownError);
                    }

                });

            }
        }

        function getDetailsFreelance(Id)
        {

            window.location.href = "/Freelance/DetailsById/" + Id // redirect to another page
            //$.get("/Freelance/DetailsById/" + Id, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});
            //$.ajax({
            //    url: "/Freelance/DetailsById/"+Id,
            //     type: "POST",

            //    success: function (response) {
            //        if (response.success) {
            //            // do something clever




            //        } else {
            //            alert('Ha ocurrido un error: ' + response.errors)

            //        }
            //    },

            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert(xhr.status);
            //        alert(thrownError);
            //    }

            //});
        }


        var habilidades = { "habilidadesData": [] };

        $('.btn-cambios-fl').click(function () {
            if ($("#datos-freelance").valid());
           
            {
            var newUser = [{
                Email: $('#emailuser').val(),
                UserName: $('#username_prof').val(),
                Password: '',
                ConfirmPassword: '',
                Freelance: '',
                Empresa: '',
                City: $("#cities option:selected").text(),            //$('#ciudaduser').text(),
                Country: $("#Country option:selected").text(),//$('#countryuser').text(),
                DescUser: $('#descuser').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                FirstMiddleName: '',
                Image:$("#imagename").val(),
                Skills: data.skills

            }];

            RegisterHabilidades(newUser)

        }

        });



        


       
</script>


<script>
        // Funcion cargar y visualizar nueva foto de perfil

        function archivo(evt) {
            var files = evt.target.files; // FileList object

        //   //Obtenemos la imagen del campo "file".
          for (var i = 0, f; f = files[i]; i++) {
              //Solo admitimos imágenes.
          if (!f.type.match('image.*')) {
                 continue;
             }

            var reader = new FileReader();

             reader.onload = (function (theFile) {
                  return function (e) {
                       // Creamos la imagen.
                      document.getElementById("list").innerHTML = ['<img class="thumb" id="thumbfoto" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                   $('#preview_img_prof').attr("src", e.target.result);
                   $('#imagename').val(theFile.name);
                };
             })(f);

               reader.readAsDataURL(f);
          }
       }

       document.getElementById('fileselect').addEventListener('change', archivo, false);


        // mantener actualizada imagen de perfil

       
</script>