@model ZonaFl.Models.Offer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutContratanteLog.cshtml";
}


<link href="~/Static/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Static/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Static/css/prettyPhoto.css" rel="stylesheet">
<link href="~/Static/css/animate.min.css" rel="stylesheet">
<link href="~/Static/css/main.css" rel="stylesheet">
<link href="~/Static/css/responsive.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="~/Static/images/ico/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Static/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Static/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Static/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="~/Static/images/ico/apple-touch-icon-57-precomposed.png">
 <!--/pop up nueva oferta-->

<div id="nuevoproyect" class="emer">
    <div class="emer-addoferta">
        <a href="#">x</a>
        <hr>
        <h2 class="title_pop">Nuevo proyecto</h2>

        <div id="content_np">
            <form id="addoferta_contrat" action="/Offer/Create" method="post">
                Categoría del trabajo:
                <select name="Categories" class="form-control">
                    <option selected value="0"> Elige una catagoría </option>

                    <option value="1">Páginas Web y Software</option>
                    <option value="2">Aplicaciones para móviles</option>
                    <option value="3">Diseño gráfico</option>
                    <option value="4">Producción multimedia</option>
                    <option value="5">Animación 3D</option>
                    <option value="6">Microsoft Office</option>
                    <option value="7">Traducción y redacción</option>
                    <option value="8">Ingeniería y Arquitectura</option>
                </select>
                <br>
                <br>
                <label>Nombre del proyecto</label>
                @*<input type="text" class="form-control" placeholder="Es el título que verán los Freelance en la oferta...">*@
                @Html.TextBoxFor(e => e.TitleOffer, new { @id = "titleoffer", @class = "form-control", @placeholder = "Es el título que verán los Freelance en la oferta..." })
               
                <br>
                <label>Descripción proyecto</label>
                @*<textarea name="message" id="message" required="required" class="form-control" rows="7" placeholder="Describe en detalle el proyecto que necesitas llevar a cabo; sé tan especifico como quieras para conseguir el Freelance más indicado para el trabajo..."></textarea>*@
                @Html.TextAreaFor(e => e.Description, 7, 1, new { @id = "description", @class = "form-control", @placeholder = "Describe en detalle el proyecto que necesitas llevar a cabo; sé tan especifico como quieras para conseguir el Freelance más indicado para el trabajo..." })


                <br>
                <div id="kind_pricing" class="col-lg-12">
                    <div class="col-xs-9 col-sm-8 col-md-9 col-lg-9">
                        <div id="valor_fijo">
                            <label>Valor proyecto</label>
                            @*<input type="number" class="form-control" placeholder="Sin puntos ni comas" id="valorproy" name="valorproy">*@
                        @Html.TextBoxFor(e => e.ValueFixedProject, new { @id = "valorproy", @class = "form-control", @placeholder = "Sin puntos ni comas" })

                        </div>
                        <div id="rango_val">
                            <label>Rango de subasta</label>
                            <select name="rango_valor" class="form-control">
                                <option id="-500" value="1">Menos de 500.000 COP</option>
                                <option id="500-1" value="2">500.000 - 1.000.000 COP</option>
                                <option value="3">1.000.000 - 2.000.000 COP</option>
                                <option value="4">2.000.000 - 3.000.000 COP</option>
                                <option value="5">Más de 3.000.000 COP</option>
                            </select>
                            <i style="font-size:.9em;"> (*Elige un rango de valores estimado dentro del cual ofertarán los interesados)</i>
                        </div>
                    </div>

                    <div id="subasta" class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
                        <div id="info_sub"><p>Puedes elegir un rango de valores para recibir ofertas y elegir al mejor postor.</p></div>
                        <p><strong>Subasta <span id="info_subicon"><i class="fa fa-info-circle"></i></span></strong></p>
                        @*<input type="checkbox" id="subasta" name="subasta">*@
                        @Html.CheckBoxFor(e => e.Sale, new { @id = "subasta" })

                    </div>
                </div>

                <div id="numfases" class="col-xs-12">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div id="info_fases" class="boxinfo"><p>Puedes dividir tu proyecto en fases, asignarles valor/tiempo y pagar por ellas sólo cuando estén terminadas; el valor por defecto es una (1) fase.</p></div>
                        <p><strong>Fases proyecto: <span id="info_fasesicon" class="iconinfo"><i class="fa fa-info-circle"></i></span></strong></p>
                        <input id="fases_1" type="button" value="1" class="numfasebt fase_activ btn1">
                        <input id="fases_2" type="button" value="2" class="numfasebt btn2">
                        <input id="fases_3" type="button" value="3" class="numfasebt btn3">
                        <input id="fases_4" type="button" value="4" class="numfasebt btn4">
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 autoval">
                        <div id="tipo_val" class="boxinfo"><p>Si enciendes el botón "valor automático" el sistema dividirá el valor total del proyecto en el número de fases que elijas de 1 a 4, de lo contrario puedes dividir el total de manera manual según tu disposicíón.</p></div>
                        <p><strong>Valor fases: <span id="tipo_valicon" class="iconinfo"><i class="fa fa-info-circle"></i></span></strong></p>
                        <button id="auto" type="button" class="btn-auto">Automático <i class="fa fa-power-off"></i></button>
                        <button id="manual" type="button" class="btn-manual">Manual <i class="fa fa-power-off"></i></button>
                    </div>


                    <div class="col-xs-12 wrapper_fases">
                        <div id="fase1" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cover_fase">
                            @*<input type="text" class="form-control" placeholder="Nombra la fase 1" id="namefase1" name="namefase1">*@
                            @Html.TextBoxFor(e => e.Phase1Name, new { @id = "namefase1", @class = "form-control", @placeholder = "Nombra la fase 1" })


                            <label>Fecha de inicio</label>
                            @*<input type="date" class="form-control" id="inifase1">*@
                            @Html.TextBoxFor(e => e.DateIniPhase1, new { @type = "date", @id = "inifase1", @class = "form-control"})
                            <label>Fecha de final</label>
                            @*<input type="date" class="form-control" id="finfase1">*@
                            @Html.TextBoxFor(e => e.DateEndPhase1, new { @type = "date", @id = "finfase1", @class = "form-control"})
                            <label>Valor fase</label>
                            @*<input type="number" class="form-control valfijo" id="valfase1">*@
                            @Html.TextBoxFor(e => e.ValuePhase1, new { @type = "number", @id = "valfase1", @class = "form-control valfijo"})
                            @*<input type="text" class="form-control valsubasta" id="valfase1-s">*@
                            @Html.TextBoxFor(e => e.PercentValuePhase1, new { @id = "valfase1-s", @class = "form-control valsubasta"})

                        </div>
                        <div id="fase2" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cover_fase">
                            @*<input type="text" class="form-control" placeholder="Nombra la fase 1" id="namefase1" name="namefase1">*@
                            @Html.TextBoxFor(e => e.Phase2Name, new { @id = "namefase2", @class = "form-control", @placeholder = "Nombra la fase 2" })


                            <label>Fecha de inicio</label>
                            @*<input type="date" class="form-control" id="inifase1">*@
                            @Html.TextBoxFor(e => e.DateIniPhase2, new { @type = "date", @id = "inifase2", @class = "form-control" })
                            <label>Fecha de final</label>
                            @*<input type="date" class="form-control" id="finfase1">*@
                            @Html.TextBoxFor(e => e.DateEndPhase2, new { @type = "date", @id = "finfase2", @class = "form-control" })
                            <label>Valor fase</label>
                            @*<input type="number" class="form-control valfijo" id="valfase1">*@
                            @Html.TextBoxFor(e => e.ValuePhase2, new { @type = "number", @id = "valfase2", @class = "form-control valfijo" })
                            @*<input type="text" class="form-control valsubasta" id="valfase1-s">*@
                            @Html.TextBoxFor(e => e.PercentValuePhase2, new { @id = "valfase2-s", @class = "form-control valsubasta" })
                        </div>


                        <div id="fase3" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cover_fase">
                            @*<input type="text" class="form-control" placeholder="Nombra la fase 1" id="namefase1" name="namefase1">*@
                            @Html.TextBoxFor(e => e.Phase3Name, new { @id = "namefase3", @class = "form-control", @placeholder = "Nombra la fase 3" })


                            <label>Fecha de inicio</label>
                            @*<input type="date" class="form-control" id="inifase1">*@
                            @Html.TextBoxFor(e => e.DateIniPhase3, new { @type = "date", @id = "inifase3", @class = "form-control" })
                            <label>Fecha de final</label>
                            @*<input type="date" class="form-control" id="finfase1">*@
                            @Html.TextBoxFor(e => e.DateEndPhase3, new { @type = "date", @id = "finfase3", @class = "form-control" })
                            <label>Valor fase</label>
                            @*<input type="number" class="form-control valfijo" id="valfase1">*@
                            @Html.TextBoxFor(e => e.ValuePhase3, new { @type = "number", @id = "valfase3", @class = "form-control valfijo" })
                            @*<input type="text" class="form-control valsubasta" id="valfase1-s">*@
                            @Html.TextBoxFor(e => e.PercentValuePhase3, new { @id = "valfase3-s", @class = "form-control valsubasta" })
                        </div>

                        <div id="fase4" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cover_fase">
                            @*<input type="text" class="form-control" placeholder="Nombra la fase 1" id="namefase1" name="namefase1">*@
                            @Html.TextBoxFor(e => e.Phase4Name, new { @id = "namefase4", @class = "form-control", @placeholder = "Nombra la fase 4" })
                            <label>Fecha de inicio</label>
                            @*<input type="date" class="form-control" id="inifase1">*@
                            @Html.TextBoxFor(e => e.DateIniPhase4, new { @type = "date", @id = "inifase4", @class = "form-control" })
                            <label>Fecha de final</label>
                            @*<input type="date" class="form-control" id="finfase1">*@
                            @Html.TextBoxFor(e => e.DateEndPhase4, new { @type = "date", @id = "finfase4", @class = "form-control" })
                            <label>Valor fase</label>
                            @*<input type="number" class="form-control valfijo" id="valfase1">*@
                            @Html.TextBoxFor(e => e.ValuePhase4, new {@type="number", @id = "valfase4", @class = "form-control valfijo" })
                            @*<input type="text" class="form-control valsubasta" id="valfase1-s">*@
                            @Html.TextBoxFor(e => e.PercentValuePhase4, new { @id = "valfase4-s", @class = "form-control valsubasta" })
                        </div>
                    </div>
                </div>

                <div id="botonesproy" class="col-xs-12 col-lg-12">
                    <a href="#"><h2 class="btn-cancel_addofer">Cancelar</h2></a>
                    <input type="submit" value="Publicar proyecto +" class="btn-addofer">
                </div>

            </form>
            <br />
        </div>

        <hr>

    </div>
</div>
<!--/ fin pop up nueva oferta-->

<script src="~/Static/js/jquery.js"></script>
<script src="~/Static/js/bootstrap.min.js"></script>
<script src="~/Static/js/jquery.prettyPhoto.js"></script>
<script src="~/Static/js/jquery.isotope.min.js"></script>

<script src="~/Static/js/main.js"></script>
<script src="~/Static/js/wow.min.js"></script>
<script src="~/Static/js/jquery-2.1.4.js"></script>
<script>
    //subasta o precio fijo
    
    $("input[type=checkbox]").click(function () {
        if ($(this).is(':checked')) {

            $("#rango_val, .valsubasta").show("slow");
            $("#valor_fijo, .valfijo").hide("slow");

        } else {

            $("#rango_val, .valsubasta").hide("slow");
            $("#valor_fijo, .valfijo").show("slow");

        }
    });

</script>
