@model ZonaFl.Models.RegisterBindingModel
@using ZonaFl.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminLog.cshtml";
}
<link href="~/Static/css/main.css" rel="stylesheet" />
<script src="~/Static/js/jquery.js"></script>
<script src="~/Static/js/bootstrap.min.js"></script>
<script src="~/Static/js/jquery.prettyPhoto.js"></script>
<script src="~/Static/js/jquery.isotope.min.js"></script>

<script src="~/Static/js/main.js"></script>
<script src="~/Static/js/wow.min.js"></script>
<script src="~/Static/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
  <!--Popup postulados-->
<div id="postulados" class="emer">
    <div class="emer-postulados">
        <a id="closer" href="#">x</a>
        <div class="head-postu">
            <h2>Nombre de la oferta</h2>
            <h3>Postulados: <span style="font-weight:bold; color:white;" id="noPostulados">0</span></h3>
        </div>
        <div class="body-postu">
            <table class="table table-hover table-striped aplies" id="table-example-5" data-bind="koTable: { pageSize: 5, initialSortProperty: 'Id', initialSortDirection: 'NameUser'  }">
                <thead>
                    <tr>
                        <th data-sort-property="Id">Id</th>
                        <th data-sort-property="NameUser">Nombre Freelance</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: koTable.pagedItems">
                    <tr>
                        <td><span data-bind="text: Id"></span></td>
                        <td><span data-bind="text: NameUser"></span><a class="plist" href="#" target="_blank"></a></td>
                        <td><button class="adjud" type="button" id="btnadjud" data-bind='click: $root.GetSetProjetToUser'>Adjudicar </button></td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>
</div>


<!--Fin Popup postulados-->


<div id="wrap_perfiles">
    <section id="principal">
        <div class="container">
            <div id="columnahide" class="col-lg-2"></div>
            <div id="columna" class=" col-md-12 col-lg-12">

                <!-- Div izq-->
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="saludoperfi">
                        <div id="fotop" class="fotodeperfil">
                          
                            @if (String.IsNullOrEmpty((string)ViewBag.ImageUser))
                            {
                                <img src="~/Static/images/user_default.png" alt="" />
                            }
                            else
                            {
                                <img  src='~/UploadedFiles/@ViewBag.ImageUser' alt="" />
                            }
                        </div>
                        <div id="saludop" class="saludops">
                            <h5 id="username_profile">@Html.DisplayFor(m=>m.UserName)</h5>
                            <h6 id="tipo_usuario_profile"><i>Contratante</i></h6>
                            <h6 id="ciudad_profile">@Html.DisplayFor(m => m.City)</h6>
                            <h6 id="pais_profile">@Html.DisplayFor(m => m.Country)</h6>

                        </div>

                    </div>
                    <div id="calificaciones" class="col-xs-12">
                        <div id="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>                   

                    <div id="verify" class="col-xs-12">
                        <p style="margin-top:13px;"><strong>Verificaciones</strong></p>
                        <div id="verify_wrap">
                            <div class="col-xs-4 verify_item">
                                <a href="#"><img src="~/Static/images/verificacion/verificacion_pago-G.png" /></a>
                                <p><strong>Pagos</strong></p>
                            </div>

                            <div class="col-xs-4 verify_item">
                                <a href="#"><img class="verified" src="~/Static/images/verificacion/verificacionemail.png" /></a>
                                <p><strong>Email</strong></p>
                            </div>

                            <div class="col-xs-4 verify_item">
                                <a href="#"><img src="~/Static/images/verificacion/verificacion_movil_G.png" /></a>
                                <p><strong>Móvil</strong></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="comentarios_freelance" class="col-xs-12 col-sm-12 col-md-12">
                        <h3><strong><i class="fa fa-comment-o"></i> Comentarios:</strong></h3>
                        <hr>
                        <div id="comentarios_recopil">
                            <div class="single_comments">
                                <img id="com_reciente_img" src="images/blog/avatar3.png" alt="" />
                                <p id="com_reciente_com">"Excelente trabajo, dentro de los tiempos establecidos."</p>
                                <div class="entry-meta small muted">
                                    <span>Por: <a id="com_reciente_user" href="#">Otro usuario</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
                <!--FIN Div izq-->


                <!--Div central-->

                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <div id="aux_control">
                        <a id="tab_perfil" class="activ" href="#">PERFIL |</a>
                        <a id="tab_proyectos" href="#">PROYECTOS |</a>
                    </div>

                    <!--inicio sección perfil-->

                    <div id="seccion_perfil">

                        <h2><i class="fa fa-user"></i> &nbsp;Perfil:</h2>

                        <hr>
                        <div class="media-body post_reply_comments acercade">
                            <h3><strong><i class="fa fa-user"></i> &nbsp;Acerca de mi:</strong></h3>
                            <hr>
                            <p id="descripcion_profile">@Model.DescEmpresa</p>
                        </div>

                        <div id="info_empresas">
                            <h3><strong><i class="fa fa-building-o"></i> &nbsp;Información de la empresa:</strong></h3>
                            <hr>
                            <p><span id="namecomercial">Nombre de la Empresa</span>:</p>
                            <p>
                                <span id="aboutcompany">
                                  @Model.NombreEmpresa 
                                </span>
                            </p>
                            <p><strong>Website: </strong><span id="sitecompany">@Model.PagWeb</span></p>

                            <hr>

                            <p><strong>NIT: </strong><span id="nitcompany">@Model.Nit</span></p>
                            <p><strong>Sector empresa: </strong><span id="sectorcompany">@Model.SectorIndustrial</span></p>
                            <p><strong>Número de empleados: </strong><span id="amountemployer">@Model.NumeroTrab</span></p>
                        </div>

                    </div>

                    <!--Fin sección perfil-->
                    <!--inicio sección proyectos-->

                    <div id="seccion_proyectos" style="display: none;">

                        <h2><i class="fa fa-flag"></i> &nbsp;Proyectos:</h2>

                        <div class="tab-projects col-xs-12">

                            <a id="applied-btn" class="project-tab project-tab-selected" href="#"><i class="fa fa-check-square-o"></i> Publicados</a>
                            <a id="incourse-btn" class="project-tab" href="#"><i class="fa fa-tasks"></i> En curso</a>
                            <a id="finished-btn" class="project-tab" href="#"><i class="fa fa-trophy"></i> Finalizados</a>
                            <a id="deleted-btn" class="project-tab" href="#"><i class="fa fa-eraser"></i> Eliminados</a>

                        </div>

                    @foreach (var project in Model.Offers)
                    {
                        <div id="anchor" class="Offers_all_freelance">

                            @if (project.Status == 0 || project.Status == 1)
                            {
                                <div id="applied" class="col-xs-12 applied">

                                    <!--nueva publicación de oferta-->

                                    <div class="col-xs-12 newoffer" id="@("newoffer"+project.Id)">

                                        <div class="col-xs-12 header-offer">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="title-offer">@project.TitleOffer</p>
                                                @if (project.Category != null)
                                                {
                                                    <p class="cat-offer"><strong>Categoría: </strong><span class="categ">@project.Category.Name</span></p>
                                                }
                                                else
                                                {
                                                    <p class="cat-offer"><strong>Categoría: </strong><span class="categ"></span></p>
                                                }
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="cat-offer"><strong>Publicado por: </strong><span class="autor">@project.NameContractor</span></p>
                                                <p class="cat-offer"><i class="fa fa-clock-o">&nbsp;</i><span class="date-offer">@project.DateOffer.Date.ToString("dd/MM/yyyy")</span> | <span class="time-offer">@project.DateOffer.ToString("hh:mm tt")</span> | <i class="fa fa-map-marker">&nbsp;</i><span class="city-offer">@project.ContractorCity</span>, <span class="country-offer">@project.ContractorCountry</span></p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 text-offer widing">
                                            <p class="desc-offer"><strong>Descripción del proyecto: </strong><span class="offer-full">@project.Description</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            @if (project.ValueFixedProject != 0)
                                            {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.ValueFixedProject</span></p>
                                            }
                                            else
                                            {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.RangoValor</span></p>
                                            }
                                            <p class="title-text">NRO. POSTULADOS: <span class="number-aplies info-text">@project.NoPostulados</span><a id="@("postulados"+project.Id)" href="#postulados" class="postulados" data-bind="click: getPostuladosFilterFromServer">&nbsp;<i class="fa fa-search"></i> Ver </a></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">INICIO ESTIMADO: <span class="ini-proy info-text">@ViewBag.InicioEst</span></p>
                                            <p class="title-text">FIN ESTIMADO: <span class="fin-proy info-text">@ViewBag.FinEst</span></p>
                                        </div>

                                        <div class="col-xs-12 exe-offer">
                                            @if (project.OfferPhases != null)
                                            {
                                                <p><strong>Ejecución: </strong><span class="num-fases">@project.OfferPhases.Count fases</span></p>
                                            }
                                            else
                                            {
                                                <p><strong>Ejecución: </strong><span class="num-fases">0 fases</span></p>
                                            }
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 widing">
                                            <ul>
                                                @if (project.OfferPhases != null)
                                                {
                                                    foreach (var phase in project.OfferPhases)
                                                    {
                                                        <li class="title-text">Fase  @(project.OfferPhases.IndexOf(phase) + 1): <span class="name-fase1 info-text">@phase.Name</span></li>
                                                        <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">@phase.Value</span></li>

                                                    }
                                                }

                                                @*<li class="title-text">FASE 1: <span class="name-fase1 info-text">Nombre fase 1 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">200000</span></li>
                                                    <li class="title-text">FASE 2: <span class="name-fase2 info-text">Nombre fase 2 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">500000</span></li>
                                                    <li class="title-text">FASE 3: <span class="name-fase3 info-text">Nombre fase 3 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">1000000</span></li>
                                                    <li class="title-text">FASE 4: <span class="name-fase4 info-text">Nombre fase 4 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">300000</span></li>*@

                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offer-btns widing">
                                            <button type="button" class="btno btn-ctrl-apply btn-apply colapsa" id=@project.Id>CERRAR</button>
                                        </div>

                                        <div class="col-xs-12 pie-btn">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                @if (ViewBag.Status == 0)
                                                {
                                                    <button type="button" class="btn-crud" onclick="window.location.href = '/Offer/Edit?id=@project.Id#nuevoproyect'"><i class="fa fa-edit" title="Editar oferta"></i></button>
                                                    <button type="button" class="btn-crud btn-del" id="@("button" + project.Id)"><i class="fa fa-trash-o" title="Eliminar oferta"></i></button>
                                                }
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <button type="button" class="btno btn-apply btn-wide" id=@project.Id>AMPLIAR OFERTA</button>
                                            </div>
                                        </div>

                                    </div>

                                    <!--fin nueva publicación de oferta-->




                                </div>
                            }
                            else if (project.Status == 2)
                            {
                                <div id="incourse" class="col-xs-12 incourse">



                                    <!--nuevo proyecto en curso-->

                                    <div class="col-xs-12 newoffer" id="@("newoffer"+project.Id)">

                                        <div class="col-xs-12 header-offer">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="title-offer">@project.TitleOffer</p>
                                                @if (project.Category != null)
                                                {
                                                    <p class="cat-offer"><strong>Categoría: </strong><span class="categ">@project.Category.Name</span></p>
                                                }
                                                else
                                                {
                                                    <p class="cat-offer"><strong>Categoría: </strong><span class="categ"></span></p>
                                                }
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="cat-offer"><strong>Contratante: </strong><span class="autor">@project.NameContractor</span></p>
                                                <p class="cat-offer"><i class="fa fa-map-marker">&nbsp;</i><span class="city-offer">@project.ContractorCity</span>, <span class="country-offer">@project.ContractorCountry</span></p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 text-offer widing">
                                            <p class="desc-offer"><strong>Descripción del proyecto: </strong><span class="offer-full">@project.Description</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">AVANCE: <span class="progress-proj info-text">0</span><span style="color:#666;">%</span></p>
                                            <div class="progress-wrap">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">INICIADO: <span class="ini-proy info-text">@ViewBag.InicioEst</span></p>
                                            <p class="title-text">FIN ESTIMADO: <span class="fin-proy info-text">@ViewBag.FinEst</span></p>
                                            @if (project.ValueFixedProject != 0)
                    {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.ValueFixedProject</span></p>
                                            }
                                            else
                                            {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.RangoValor</span></p>
                                            }
                                        </div>

                                        <div class="col-xs-12 exe-offer widing">
                                            @if (project.OfferPhases != null)
                                            {
                                                <p><strong>Ejecución: </strong><span class="num-fases">@project.OfferPhases.Count fases</span></p>
                                            }
                                            else
                                            {
                                                <p><strong>Ejecución: </strong><span class="num-fases">0 fases</span></p>
                                            }
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widing">
                                            @if (project.OfferPhases != null)
                                            {
                                                foreach (var phase in project.OfferPhases)
                                                {
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 status-fase">
                                                        <p class="title-text">Fase  @(project.OfferPhases.IndexOf(phase) + 1):  <span class="name-fase1 info-text">@phase.Name</span></p>
                                                        @if (((StatusPhase)@phase.StatusPhase) == StatusPhase.Finalizada)
                                                        {
                                                            <p><span class="statusfinished">Finalizada</span></p>
                                                        }
                                                        else if (((StatusPhase)@phase.StatusPhase) == StatusPhase.EnCurso)
                                                        {
                                                            <p><span class="statusincouse">En curso</span><button type="button" class="managefases"><i class="fa fa-flag-checkered"></i> Finalizar fase</button></p>
                                                        }
                                                        else if (((StatusPhase)@phase.StatusPhase) == StatusPhase.Aplicada)
                                                        {
                                                            <p><span class="statusnoyet">En curso</span><button type="button" class="managefases"><i class="fa fa-flag-checkered"></i> Finalizar fase</button></p>
                                                        }
                                                        else if (((StatusPhase)@phase.StatusPhase) == StatusPhase.Eliminada)
                                                        {
                                                            <p><span class="statusnoyet">Eliminada</span><button type="button" class="managefases"><i class="fa fa-flag-checkered"></i> Finalizar fase</button></p>
                                                        }

                                                    </div>
                                                }
                                            }
                                            @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 status-fase">
                                                    <p class="title-text">FASE 1: <span class="name-fase1 info-text">Nombre fase 1</span></p>
                                                    <p><span class="statusfinished">Finalizada</span></p>

                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 status-fase">
                                                    <p class="title-text">FASE 2: <span class="name-fase2 info-text">Nombre fase 2 </span></p>
                                                    <p><span class="statusincouse">En curso</span><button type="button" class="managefases"><i class="fa fa-flag-checkered"></i> Finalizar fase</button></p>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 status-fase">
                                                    <p class="title-text">FASE 3: <span class="name-fase3 info-text">Nombre fase 3 </span></p>
                                                    <p><span class="statusnoyet">No iniciada</span><button type="button" class="managefases"><i class="fa fa-power-off"></i> Iniciar fase</button></p>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 status-fase">
                                                    <p class="title-text">FASE 4: <span class="name-fase4 info-text">Nombre fase 4 </span></p>
                                                    <p><span class="statusnoyet">No iniciada</span><button type="button" class="managefases"><i class="fa fa-power-off"></i> Iniciar fase</button></p>
                                                </div>*@

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widing" style="padding-right:2em;">
                                            <button type="button" class="btno btn-ctrl-apply btn-apply colapsa" style="float:right;" id=@project.Id>CERRAR</button>
                                        </div>

                                        <div class="col-xs-12 pie-btn">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <button type="button" class="btno btn-apply btn-wide" id=@project.Id>ABRIR PROYECTO</button>
                                            </div>
                                        </div>

                                    </div>

                                    <!--fin nuevo proyecto en curso-->

                                </div>
                            }
                            else if (project.Status == 3)
                            {
                                <div id="finished" class="col-xs-12 finished">

                                    <!--Proyecto finalizado-->

                                    <div class="col-xs-12 newoffer" id="@("newoffer"+project.Id)">

                                        <div class="col-xs-12 header-offer">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="title-offer">@project.TitleOffer</p>
                                                <p class="cat-offer"><strong>Categoría: </strong><span class="categ">@project.Category.Name</span></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="cat-offer"><strong>Contratante: </strong><span class="autor">@project.NameContractor</span></p>
                                                <p class="cat-offer"><i class="fa fa-map-marker">&nbsp;</i><span class="city-offer">@project.ContractorCity</span>, <span class="country-offer">@project.ContractorCountry</span></p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 text-offer widing">
                                            <p class="desc-offer"><strong>Descripción del proyecto: </strong><span class="offer-full">@project.Description</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">INICIO: <span class="ini-proy info-text">@ViewBag.InicioEst</span></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">FIN: <span class="fin-proy info-text">@ViewBag.FinEst</span></p>
                                        </div>

                                        <div class="col-xs-12 exe-offer">
                                            <p><strong>Se ejecutó en: </strong><span class="num-fases">@project.OfferPhases.Count fases</span></p>
                                        </div>

                                        <div class="col-xs-12 text-offer widing">
                                            <p class="desc-offer"><strong>Comentarios contratante: </strong><span class="offer-full">En este espacio aparecerán los comentarios realizados por la persona que contrató el trabajo.</span></p>
                                            <p class="title-text">CALIFICACIÓN: <span class="rate info-text">5</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-btns widing" style="padding-right:2em;">
                                            <button type="button" class="btno btn-ctrl-apply btn-apply colapsa" style="float:right;" id=@project.Id>CERRAR</button>
                                        </div>

                                        <div class="col-xs-12 pie-btn">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <!--  <button type="submit" class="btn-crud"><i class="fa fa-trash-o" title="Eliminar"></i></button> -->
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <button type="button" class="btno btn-apply btn-wide" id=@project.Id>AMPLIAR</button>
                                            </div>
                                        </div>

                                    </div>

                                    <!--fin proyecto finalizado-->

                                </div>
                            }
                            else if (project.Status == 4)
                            {
                                <div id="deleted" class="col-xs-12 deleted">

                                    <!--nueva oferta eliminada-->

                                    <div class="col-xs-12 newoffer" id="@("newoffer"+project.Id)">

                                        <div class="col-xs-12 header-offer">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="title-offer">@project.TitleOffer</p>
                                                <p class="cat-offer"><strong>Categoría: </strong><span class="categ">@project.Category.Name</span></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <p class="cat-offer"><strong>Publicado por: </strong><span class="autor">@project.NameContractor</span></p>
                                                <p class="cat-offer"><i class="fa fa-clock-o">&nbsp;</i><span class="date-offer">@project.DateOffer.Date</span> | <span class="time-offer">@project.DateOffer.ToString("hh:mm tt")</span> | <i class="fa fa-map-marker">&nbsp;</i><span class="city-offer">@project.ContractorCity</span>, <span class="country-offer">@project.ContractorCountry</span></p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 text-offer widing">
                                            <p class="desc-offer"><strong>Descripción del proyecto: </strong><span class="offer-full">@project.Description</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            @if (project.ValueFixedProject != 0)
                                            {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.ValueFixedProject</span></p>
                                            }
                                            else
                                            {
                                                <p class="title-text">PRESUPUESTO: <span class="info-text"><strong>COP </strong></span><span class="budget-offer info-text">@project.RangoValor</span></p>
                                            }
                                            <p class="title-text">NRO. POSTULADOS: <span class="number-aplies info-text">@project.NoPostulados</span></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 data-offer">
                                            <p class="title-text">INICIO ESTIMADO: <span class="ini-proy info-text">@ViewBag.InicioEst</span></p>
                                            <p class="title-text">FIN ESTIMADO: <span class="fin-proy info-text">@ViewBag.FinEst</span></p>
                                        </div>

                                        <div class="col-xs-12 exe-offer">
                                            <p><strong>Ejecución: </strong><span class="num-fases">4 fases</span></p>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 widing">
                                            <ul>
                                                @foreach (var phase in project.OfferPhases)
                                                {
                                                    <li class="title-text">Fase  @(project.OfferPhases.IndexOf(phase) + 1): <span class="name-fase1 info-text">@phase.Name</span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">@phase.Value</span></li>
                                                }
                                                @*<li class="title-text">FASE 2: <span class="name-fase2 info-text">Nombre fase 2 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">500000</span></li>
                                                    <li class="title-text">FASE 3: <span class="name-fase3 info-text">Nombre fase 3 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">1000000</span></li>
                                                    <li class="title-text">FASE 4: <span class="name-fase4 info-text">Nombre fase 4 </span></li>
                                                    <li class="pricing-fase"><span class="info-text"><strong>COP </strong></span> <span class="price-fase">300000</span></li>*@

                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offer-btns widing">
                                            <button type="button" class="btno btn-ctrl-apply btn-apply colapsa" id=@project.Id>CERRAR</button>
                                        </div>

                                        <div class="col-xs-12 pie-btn">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <!--  <button type="submit" class="btn-crud"><i class="fa fa-trash-o" title="Eliminar oferta"></i></button> -->
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <button type="button" class="btno btn-apply btn-wide" id=@project.Id>AMPLIAR OFERTA</button>
                                            </div>
                                        </div>

                                    </div>
                                    <!--fin nueva oferta eliminada-->



                                </div>






                            }


                        </div>


                    }
                    </div>

                    <!--fin sección proyectos-->








                </div>

                <!--FIN Div central--> 
                <!-- Div der-->

                <div id="secder_free" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

                    <div id="ads_zona">
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                    </div>


                </div>

                <!--FIN Div der-->  	

            </div>

        </div><!--/.container-->
    </section><!--/about-us-->
</div>

<script>
       // cambio de tab secciones contratante

  $("#tab_perfil").click(function(){
    $(this).addClass("activ");
    $("#seccion_perfil").show("slow");
    $("#seccion_proyectos").hide("slow");
     $("#tab_proyectos").removeClass("activ");

  });


      $("#tab_proyectos").click(function(){
        $(this).addClass("activ");
    $("#seccion_proyectos").show("slow");
    $("#seccion_perfil").hide("slow");
    $("#tab_perfil").removeClass("activ");

  });
      //<a id="applied-btn" class="project-tab project-tab-selected" href="#"><i class="fa fa-check-square-o"></i> Publicados</a>
      //                       <a id="incourse-btn" class="project-tab" href="#"><i class="fa fa-tasks"></i> En curso</a>
      //                       <a id="finished-btn" class="project-tab" href="#"><i class="fa fa-trophy"></i> Finalizados</a>
      //                       <a id="deleted-btn" class="project-tab" href="#"><i class="fa fa-eraser"></i> Eliminados</a>
$("#applied-btn").click(function(){
    $(this).addClass("project-tab-selected");
    $(".applied").show("slow");
    $(".incourse").hide("slow");
    $(".finished").hide("slow");
    $(".deleted").hide("slow");
    $("#incourse-btn").removeClass("project-tab-selected");
    $("#finished-btn").removeClass("project-tab-selected");
    $("#deleted-btn").removeClass("project-tab-selected");
});
$("#incourse-btn").click(function () {
    $(this).addClass("project-tab-selected");
    $(".applied").hide("slow");
    $(".incourse").show("slow");
    $(".finished").hide("slow");
    $(".deleted").hide("slow");
    $("#applied-btn").removeClass("project-tab-selected");
    $("#finished-btn").removeClass("project-tab-selected");
    $("#deleted-btn").removeClass("project-tab-selected");
});
$("#finished-btn").click(function () {
    $(this).addClass("project-tab-selected");
    $(".applied").hide("slow");
    $(".incourse").hide("slow");
    $(".finished").show("slow");
    $(".deleted").hide("slow");
    $("#applied-btn").removeClass("project-tab-selected");
    $("#incourse-btn").removeClass("project-tab-selected");
    $("#deleted-btn").removeClass("project-tab-selected");
});
$("#deleted-btn").click(function () {
    $(this).addClass("project-tab-selected");
    $(".applied").hide("slow");
    $(".incourse").hide("slow");
    $(".finished").hide("slow");
    $(".deleted").show("slow");
    $("#applied-btn").removeClass("project-tab-selected");
    $("#incourse-btn").removeClass("project-tab-selected");
    $("#finished-btn").removeClass("project-tab-selected");
});

</script>
